
#back-btn {
    display: flex;
    height: 3em;
    /* width: 100px; */
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
   #back-btn > svg {
    margin-right: 5px !important;
    margin-left: 5px !important;
    font-size: 20px !important;
    margin-top: 3px;
    transition: all 0.4s ease-in !important;
   }
   
   #back-btn:hover > svg {
    font-size: 1.2em !important;
    transform: translateX(-5px) !important;
   }
   
   #back-btn:hover {
    /* box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff !important; */
    transform: translateY(-2px) !important;
   }

   #back-btn-txt {
    background-color: transparent;
    color: black;
   }